@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* 리셋 CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Pretendard', sans-serif;
}

body {
    font-family: 'Pretendard', sans-serif;
    line-height: 1.6;
    margin: 0;
    position: relative;  
    z-index: -1;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

input {
    outline: none; 
    border: none; 
    background: none; 
    font-family: inherit;
    font-size: inherit;
    line-height: inherit; 
}

input::placeholder {
    color: inherit; 
    opacity: 0.7; 
    font-size: 11px;
}





/* main.css */
.mapSection {
    display: flex;
    width: 100%;
    min-width: 767px;
    height: 100%;
    padding: 30px;
    align-items: flex-start;
    gap: 10px;
    position: relative;  
    z-index: 0; 
}

.toggleButton {
    position: absolute;
    top: 10px;  
    left: 20px; 
    width: 40px;
    height: 40px;
    background-color: #248CFA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10000; 
}

.toggleButton i {
    font-size: 20px;
}

.mapNavBar_BG{
    display: flex;
    height: 95%;
    margin-top: 40px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    border-radius: 15px;
    background: #FFFF;
    box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.20);
    position: relative;
    z-index: 10; 
}
.mapNavBar_cl-1{
    display: flex;
    min-height: 106px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}
.mapNavBar_cl-1 #result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.cl-1-input {
    display: flex;
    width: 220px;
    height: 30px;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    border: 0.5px solid #8BC0FF;
    background: #F4F8FF;
}
.cl-1-label{
    width: 15%;
    color: #476490;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.cl-1-input-text{
    width: 85%;
    font-size: 11px;
}
.cl-1-btn{
    display: flex;
    width: 220px;
    height: 30px;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    background: #248CFA;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.mapNavBar_cl-2{
    display: flex;
    height: 80%;
    overflow-y: hidden;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.cl-2-search{
    display: flex;
    width: 220px;
    height: 30px;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    border: 1px solid rgba(27, 27, 27, 0.40);
    background: #FFFF;
}
.cl-2-searchBar{
    display: flex;
    flex-direction: row;
    width: 220px;
    height: 30px;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    border: 1px solid rgba(27, 27, 27, 0.40);
    background: #FFF;
}
.list-wrap{
    height: 100%;
    overflow-y: scroll;

}
.li-container{
    display: flex;
    flex-direction: row;
    width: 220px;
    min-height: 65px;
    padding: 10px;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid rgba(27, 27, 27, 0.40);
    background: #FFFF;
    cursor: pointer;
}
.li-eclipse{
    display: flex;
    width: 45px;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #248CFA;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.li-textWrap{
    display: flex;
    width: 72%;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}
.li-text-title{
    color: #1B1B1B;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.li-text-address{
    color: #1B1B1B;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.marker-info{
    display: flex;
    width: 150px;
    height: 50px;
    padding: 8px;
    justify-content: center;
    text-align: center;
    color: #1B1B1B;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



#loadingModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loadingMessage {
    background: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}




.overlay_info {
    border-radius: 6px;
    margin-bottom: 12px;
    float: left;
    position: relative;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    background-color: #fff;
}

.overlay_info:nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.overlay_info a {
    display: block;
    background: #d95050;
    background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
    text-decoration: none;
    color: #fff;
    padding: 12px 36px 12px 14px;
    font-size: 14px;
    border-radius: 6px 6px 0 0
}

.overlay_info a strong {
    background: url(./images/paw_icon.png) no-repeat;
    padding-left: 27px;
}

.overlay_info .desc {
    padding: 14px;
    position: relative;
    min-width: 190px;
    height: 56px
}

.overlay_info .address {
    font-size: 12px;
    color: #333;
    white-space: normal;
}

.overlay_info .close-btn {
    position: absolute;
    top: 10px; /* 상단에서 10px 떨어진 위치 */
    right: 10px; /* 오른쪽에서 10px 떨어진 위치 */
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
}

.overlay_info:after {
    content: '';
    position: absolute;
    margin-left: -11px;
    left: 50%;
    bottom: -12px;
    width: 22px;
    height: 12px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png) no-repeat 0 bottom;
}


